<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sales Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/dashboardsales.css">
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 bg-dark">
                <div class="sidebar">
                    <h2>Nyondo General Store</h2>
            <a href="{% url 'dashboardsales' %}">Dashboard</a>
            <a href="{% url 'sales' %}">Sales</a>
            <a href="{% url 'credit' %}">Credit Scheme</a>
            <a href="{% url 'product' %}">Product</a>
            <a href="{% url 'login' %}">Logout</a>
            <a href="#">Inventory</a>
                </div>
            </div>
            <div class="col-7">
                <h1>Sales Dashboard</h1>
            </div>
        </div>
    </div>
    












    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>