<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<style>
    body{
        background-image: url(../static/images/nyondo.png);
    }
</style>
<body>
    <header>
        <div class="logo">NYONDO</div>
    </header>
    <div>
        <h1>Build With Confidence</h1>
        <p>From foundation to finishing-We supply quality building</p>
        <p>materials,tools,plumbing,electrical and paint at competitive</p>
    </div>
</body>
</html>