<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/newproduct.css">
  </head>
  <body>
    <form class="form-box">
  <div class="mb-3">
    <label for="exampleInputproductname" class="form-label">Product Name</label>
    <input type="text" class="form-control" id="exampleInputproductname">
  </div>
  <div class="mb-3">
    <label for="exampleInputcategory" class="form-label">Category</label>
    <input type="text" class="form-control" id="exampleInputcategory">
  </div>
  <div class="mb-3">
    <label for="exampleInputcostprice" class="form-label">Cost Price (UGX)</label>
    <input type="number" class="form-control" id="exampleInputcostprice">
  </div>
  <div class="mb-3">
    <label for="exampleInputsellingprice" class="form-label">Selling Price (UGX)</label>
    <input type="number" class="form-control" id="exampleInputsellingprice">
  </div>
  <div class="mb-3">
    <label for="exampleInputstockquantity" class="form-label">Stock Quantity</label>
    <input type="number" class="form-control" id="exampleInputstockquantity">
  </div>
  <div class="mb-3">
    <label for="exampleInputunit" class="form-label">Unit</label>
    <input type="number" class="form-control" id="exampleInputunit">
  </div>
  <div class="mb-3">
    <label for="exampleInputreoderlevel" class="form-label">Rorder Level</label>
    <input type="text" class="form-control" id="exampleInputreoderlevel">
  </div>
  <div><button type="button" class="btn btn-primary btn-lg">Save</button></div>
</form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>